.aboutHeader {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutContainer > img {
    width: 40vw;
    max-width: 200px;
    margin-left: 10px;
    float: right;
}