.aboutHeader {
    border-top: 1px solid var(--border-color);
    padding-top: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutHeader > img {
    width: 120px;
    max-width: 100vw;
}