.contactHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.contactHeader h2 {
    margin-left: .25em;
    margin-bottom: 0px;
}

.contactLink {
    display: block;
    margin-bottom: 1.5em;
    text-decoration: none;
    width: fit-content;
}

.contactLink h5 {
    text-decoration: underline;
}

.contactLinkHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactLinkHeader > h5 {
    margin-right: .25em;
}