.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
}

.avatar img {
  border-radius: 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 80vh;
}

.introHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.manifest {
  max-width: 800px;
  margin-top: auto;
  margin-bottom: auto;
}

.blink {
  color: var(--text-02);
  animation: blink .8s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .intro {
    height: 100vh;
    padding: 48px 24px;
  }
}
