.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100vh;
  min-height: 600px;

  padding-top: 120px;
}

.manifest {
  margin-top: 48px;
  font-size: 56px;
  margin-bottom: 200px;

  max-width: 800px;
}

.introCTA {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  cursor: pointer;
}

.introCTA > svg,
.introCTA > img {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .intro {
    padding-top: 16px;
    padding-bottom: 32px;

    justify-content: space-between;

    height: 70vh;
    min-height: 70vh;
    min-height: -webkit-fill-available;
  }

  .manifest {
    font-size: 36px;
    margin: auto;
  }
}
