.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;

  background-color: var(--ui-light);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0px 16px 0px 0px;
  border-bottom: 1px solid var(--border-color);

  box-shadow: 0px 2px 8px #00000020;
}

.navbarBurgerMenu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarMenu .navLink {
  display: flex;
  align-items: center;
  padding: 0px 16px;

  color: var(--text-01);
  text-decoration: none;
  transition: 300ms;
}

.navbarMenu .navLinkCTA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 100px;

  background: var(--ui-dark);
  color: var(--text-invert);
}

.navbarMenu .navLinkCTA > img {
  margin-left: 12px;
  filter: invert(1);
}

.navbarMenu .navLink:hover {
  color: var(--text-hover);
  text-decoration: underline;
}

.navbarRightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: .5em;
}


/* Mobile Only */
@media (max-width: 786px) {
  .navbarMenu {
    display: none;
  }
}

/* Desktop Only*/
@media (min-width: 768px) {
  .navbar {
    padding: 0px calc((100vw - var(--container-width))/2);
  }

  .navbarBurgerMenu {
    display: none;
  }
}
