.portfolioPreview {
  position: relative;
  margin-bottom: 60px;
}

/* .portfolioPreview:nth-child(2n) .portfolioDate, 
.portfolioPreview:nth-child(2n) .portfolioHeader,
.portfolioPreview:nth-child(2n) .portfolioImage, 
.portfolioPreview:nth-child(2n) .portfolioSubtitle {
  margin-left: auto;
  width: 65vw;
} */

.portfolioDate {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  flex-shrink: 0;
  /* filter: opacity(.6); */
}

.portfolioHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px
}

.portfolioHeader > h3 {
  line-height: 1.2em;
}

.portfolioSubtitle {
  list-style-type: none;
  padding-inline-start: 0px;
  font-size: 16px;
}

.portfolioImage {
  position: relative;
  width: 100%;
  height: 50vw;
  margin-bottom: 10px;
  background: #e6e6e6;
  box-shadow: 0px 2px 10px #00000020;
}

.portfolioPreviewContent {
  overflow: hidden;
}

.portfolioPreviewContent {
  padding: 12px 0px;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--interactive-dark);

  position: absolute;
  right: 0px;
  bottom: 0px;

  text-decoration: underline;
  transition: 200ms;
  z-index: 1;
} 

.toggle > img {
  margin-left: .5em;
  /* filter: opacity(.5); */
}

/* .portfolioPreview[data-open=true] {
  padding-bottom: 48px;
  max-height: 1500px;
} */

.portfolioPreview[data-open=false] .portfolioImage:hover {
  opacity: .9;
}

.portfolioPreview[data-open=true] .toggle {
  filter: opacity(0);
}

/* Mobile Only */
@media (max-width: 786px) {
  
}

/* Desktop Only*/
@media (min-width: 768px) {
  .portfolioImage {
    width: 400px;
    height: 300px;
  }
}

