.portfolioPreview {
  max-height: 200px;
  /* margin: 12px; */
  position: relative;
  
  border-top: 1px solid var(--border-color);
  box-shadow: 0px 2px 10px var(--border-color);
  /* border-radius: 6px; */
  overflow: hidden;
  transition: max-height 400ms;

  cursor: url("/svg/pointer.svg") 4 1, auto;
}

.portfolioPreview[data-open=true] {
  max-height: 1000px;
}

.portfolioHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.portfolioHeader > p {
  flex-shrink: 0;
  color: var(--text-02);
  margin-top: 6px;
}

.overlay {
  background: linear-gradient(0deg, white, 80%, #ffffff00);
  position: absolute;
  height: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: 600ms;
}

.overlay[data-open=true] {
  opacity: 0;
}

.portfolioPreview > img {
  max-height: 12vh;
  transition: .4s;
  object-fit: cover;
}

.portfolioPreview[data-open=true] > img {
  max-height: 16vh;
}

.portfolioPreviewContent {
  padding: 16px;
}
