.portfolioPreview {
  height: fit-content;
  
  margin: 16px;
  
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: hidden;

  transition: 300ms;
}

.portfolioPreview > img {
  max-height: 12vh;
  object-fit: cover;
}

.portfolioPreviewContent {
  padding: 16px;
}
