.sidebar {
  padding: 60px 24px 48px 24px;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-height: -webkit-fill-available;
  overflow: scroll;
  top: 0;
  right: -100vw;

  background: var(--ui-light);
  color: var(--text-01);
  border-left: 1px solid var(--border-color);
  z-index: 3000;

  transition: 400ms;
}

.sidebar[data-open=true] {
  transform: translateX(-100vw);
}

.sidebarItem {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
  text-decoration: none;
  font-family: var(--serif);
  font-weight: bold;
  font-size: 20px;
}

.sidebarItem:first-of-type {
  border-top: 1px solid var(--border-color);
}

.sidebarItem[data-active=true]::after {
  content: url("/svg/asterisk.svg");
  margin-left: .5em;
  height: 24px;
  width: 24px;
}

.sidebarSubItem {
  display: flex;
  text-decoration: none;
  padding: .5em .5em;
  align-items: center;
}

.sidebarSubItem >:nth-child(1) {
  margin-right: .5em;
}

.sidebarFooter {
  margin-top: auto;
}