@font-face {
  font-family: "Big Caslon";
  src: url("/fonts/BigCaslon-Regular.ttf");
  font-style: regular;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Big Caslon";
  src: url("/fonts/BigCaslon-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Big Caslon";
  src: url("/fonts/BigCaslon-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Light.ttf");
  font-style: regular;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-LightItalic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

:root {
  --ui-dark: #000000;
  --ui-light: #ffffff;

  --text-01: #000000;
  --text-02: #666666;
  --text-invert: #ffffff;

  --interactive-dark: #000000;

  /* --border-color: #E5E5E5; */
  --border-color: #000000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-color: var(--interactive-dark);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--ui-light);
  color: var(--text-01);
  font-size: 16px;
  font-weight: 300;
  font-family: "Helvetica Neue", sans-serif;
  cursor: url("/svg/cursor.svg") 4 1, auto;
}

a, button {
  cursor: url("/svg/pointer.svg") 4 1, auto;
}

button { 
  border: none;
  background: none;
}

a:-webkit-any-link {
  color: inherit;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  -webkit-user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
  line-height: 1.1em;
  font-family: "Big Caslon", serif; 
}

h2 {
  font-size: 32px;
  font-weight: lighter;
  font-style: italic;
  font-family: "Big Caslon", serif;
  margin-bottom: .5em;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  font-family: "Big Caslon", serif;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Big Caslon", serif;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Big Caslon", serif;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
}

p.lead {
  font-size: 18px;
}

p {
  line-height: 140%;
  margin-bottom: 1em;
}

.comment {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

input, textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  font-family: inherit;
  font-size: inherit;
  
  height: 50px;
  padding: 10px;

  border: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--border-color);

  width: 260px;
  max-width: 100%;

  margin-bottom: 12px;
}

textarea {
  height: 100px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  
  height: 50px;
  padding: 0px 10px;

  background-color: var(--interactive-dark);
  color: var(--text-invert);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);

  width: 260px;
  max-width: 100%;

  margin-bottom: 12px;
  transition: 100ms;
}

a:hover, button:hover, .btn:hover {
  opacity: .9;
}

.btn:active {
  transform: translateY(2px)
}

.btn:last-of-type {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  h1 { 
    font-size: 12vw;
  }

  .btn, input, textarea {
    width: 100%;
  }
  
  .container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--border-color);
  }
}
