@font-face {
  font-family: "Big Caslon";
  src: url("/fonts/BigCaslon-Regular.ttf");
  font-style: regular;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Big Caslon";
  src: url("/fonts/BigCaslon-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Light.ttf");
  font-style: regular;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue-LightItalic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

:root {
  --ui-dark: #000000;
  --ui-light: #ffffff;

  --text-01: #000000;
  --text-02: #999999;
  --text-03: #cccccc;

  --interactive-dark: #000000;
  --text-invert: #ffffff;

  --border-color: #00000021;
  --default-border: 0.5px solid var(--border-color);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--ui-light);
  color: var(--text-01);
  font-size: 16px;
  font-weight: 300;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
  font-family: "Big Caslon", serif;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Big Caslon", serif;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Big Caslon", serif;
}

h4 {
  font-size: 16px;
  font-weight: inherit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Big Caslon", serif;
}

p {
  line-height: 140%;
}

p.lead {
  font-size: 18px;
}

p.comment {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
